// ------------ Global ----------- //
$textColor: #222;
$textColorDarkMode: #fafafa;

// ------------ Selector ----------- //
$selectorBGColor: rgb(170, 231, 255);
$buttonBGColor: whitesmoke;
$buttonBorderRadius: 8px;

$selectorHeightSP: 352px;
$selectorHeightPC: 212px;

// ------------ Colors ----------- //
