.header {
  position: relative;
  width: 100%;
  height: 10vh;
  max-height: 200px;

  padding: 4px 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: skyblue;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  .createdBy {
    position: absolute;
    top: 0;
    left: 8px;
    font-size: small;

    @media screen and (min-width: 768px) {
      position: unset;
    }

    a {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  /* === ボタンを表示するエリア ============== */
  .switchArea {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 8px;

    width: min(80px, 25%);
    height: 60%;
    max-height: 32px;

    color: #222;
    font-size: 1.2rem;
    text-align: center;

    border-radius: 30px;
    background-color: #fafafa;

    @media screen and (min-width: 768px) {
      position: relative;
      transform: unset;
      top: unset;
      right: unset;
      width: max(80px, 5%);
      max-height: 36px;
    }

    input[type="checkbox"] {
      display: none;
    }

    /* === チェックボックスのラベル（標準） ==================== */
    label {
      position: relative;
      cursor: pointer;

      display: flex;
      align-items: center;

      box-sizing: border-box;
      height: 100%;
      z-index: 10;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 30px;
        border: 2px solid #222;
        background-color: #fafafa;
        transition: all 0.4s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0.5em;
        width: 20px;
        height: 20px;
        border-radius: 1em;
        background-color: #222;
        transition: all 0.4s ease-in-out;
      }

      svg {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.4s ease-in-out 0.3s;

        &.moon {
          right: 0.5em;
          color: #222;
        }
        &.sun {
          left: 0.5em;
          color: #fafafa;
        }

        &.fadeIn {
          opacity: 1;
        }
        &.fadeOut {
          opacity: 0;
        }
      }
    }

    /* === チェックボックスのラベル（ONのとき） ================ */
    input[type="checkbox"]:checked + label {
      &::before {
        border-color: #fafafa;
        background-color: #222;
      }
      &::after {
        transform: translateX(-100%);
        left: calc(100% - 0.5em);
        background-color: #fafafa;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 4px 60px;
  }
}
