$borderRadius: 12px;
$BGColor: whitesmoke;

.selector {
  position: relative;
  padding: 40px;

  color: #222 !important;
  border-bottom: 4px solid #222;
  background-color: rgb(170, 231, 255);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .searchContainer {
    position: relative;
    width: min(200px, 80%);
    border-radius: $borderRadius;
    overflow: hidden;

    // input tag
    .textInput {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;

      padding: 4px 40px;
      font-size: 1.25rem;
      letter-spacing: 0.8px;

      background-color: $BGColor;

      &:focus {
        background-color: white;
      }
    }

    // Icon
    .searchIcon {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 4px;

      font-size: 2rem;
      cursor: pointer;
      z-index: 1;
    }
  }

  // click buttons
  .changeOrder {
    cursor: pointer;
    line-height: 1.3;
    font-size: 1.2rem;

    padding: 4px 12px;
    border-radius: $borderRadius;
    background-color: $BGColor;

    &.resetButton {
      position: absolute;
      right: 20px;
      bottom: 12px;
    }

    &.active {
      background-color: rgb(189, 189, 189);
    }
  }

  .phaseSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    cursor: default;
    pointer-events: none;

    .phaseSelector__item {
      cursor: pointer;
      pointer-events: all;
    }
  }
}
