.showContainer__showItem {
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  overflow: hidden;

  .showContainer__showItem__title {
    font-size: 1.2rem;
    font-weight: bold;

    overflow: hidden;
    max-width: 256px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .showContainer__showItem__imageWrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: fit-content;

    overflow: hidden;

    .showContainer__showItem__imageWrap__copyright {
      position: absolute;
      right: 4px;
      bottom: 8px;

      color: #9e9e9e;
      font-size: 0.8rem;
    }
  }
}
